.pedidoBody {
    height: 100%;
    background: linear-gradient(to left, var(--purple), var(--green));
    padding: 20vh 20px 20vh 20px;
}

.buttonBack {
    position: fixed;
    bottom: 30px;
    left: 20px;
    color: var(--black);
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--button);
    backdrop-filter: blur(50px);
    transition: 0.2s;
    cursor: pointer;
    z-index: 1000;
}

.buttonBack:hover {
    text-decoration: none;
    background: var(--white);
}

.pedidoBody video {
    max-width: 100%;
    border-radius: 24px;
}

.containerOrder,
.containerTwoOrder {
    padding: 18px;
    background: var(--bgMain);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
    box-shadow: 0 0 13px var(--shadow);
}

.containerDiv {
    margin-bottom: 5vh;
}

.buttonVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonVideo .textTwoOrder h2 {
    line-height: 1.5rem;
    margin-bottom: 0;
}

.buttonDiv {
    height: 8vh;
    width: 100%;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.buttonDiv a {
    background: var(--purpleTwo);
    box-shadow: 0 0 13px var(--shadowThree);
    padding: 15px 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
    font-size: 1rem;
    transition: 0.3s;
}

.buttonDiv a:hover {
    text-decoration: none;
    box-shadow: 0 0 20px var(--shadowThree);
    transform: scale(1.05);
}

.playButton {
    margin-right: 5px;
}

.textOrder,
.textTwoOrder {
    padding: 5vh 40px 35px 40px;
}

.buttonVideo .textTwoOrder {
    padding-top: 0;
}

.textOrder h2,
.textTwoOrder h2 {
    font-family: "Abcgintonord", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--white);
    line-height: 1.25rem;
    margin-bottom: 8px;
}

.textOrder p,
.textTwoOrder p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--white);
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.imageOrder,
.imageTwoOrder {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.imageOrder img {
    width: 100%;
    height: 400px;
    aspect-ratio: 16/9;
    object-fit: cover;

    transition: all 200ms ease-out;
    display: block;
    border-radius: 16px;
}

.imageOrder img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--shadowFour);
}

.imageOrder video,
.imageTwoOrder video {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.buttonDate {
    padding: 5px 20px;
    border-radius: 5px;
    background: var(--bgTwo);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    font-family: "Abcgintonord", sans-serif;
    box-shadow: 0 0 10px var(--shadowFour);
}

.buttonDate:hover {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .containerOrder,
    .containerTwoOrder {
        padding: 5vh 0;
    }
    .containerDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }

    .textOrder,
    .textTwoOrder {
        max-width: 50vw;
    }

    .textOrder h2,
    .textTwoOrder h2 {
        font-size: 2rem;
        line-height: 1.75rem;
    }

    .textOrder p,
    .textTwoOrderOrder p {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .buttonVideo .textTwoOrder h2 {
        line-height: 2rem;
    }

    .imageOrder img:hover {
        transform: scale(1.3);
        box-shadow: 0 0 15px var(--shadowFour);
    }
}

@media screen and (max-height: 430px) {
    .buttonDiv a {
        font-size: 0.875rem;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1050px) {
    .textOrder,
    .textTwoOrder {
        max-width: 30vw;
    }
    
    .containerOrder,
    .containerTwoOrder {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }

    .imageOrder img:hover {
        transform: scale(1.2);
        box-shadow: 0 0 15px var(--shadowFour);
    }
}