.buttonBack {
    position: fixed;
    top: 75px;
    left: 20px;
    color: var(--black);
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--button);
    backdrop-filter: blur(50px);
}