.bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}

.bgMobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: block;
}

.buttonBack {
    position: fixed;
    bottom: 30px;
    left: 20px;
    color: var(--black);
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--button);
    backdrop-filter: blur(50px);
    transition: 0.2s;
    cursor: pointer;
    z-index: 1000;
}

.bodyQuizzes {
    padding: 100px 20px;
}

.questionContent {
    width: 100%;
}

.containerQuizzes {
    padding: 15px 18px;
    background: var(--bgMain);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    margin-bottom: 5vh;
    box-shadow: 0 0 13px var(--shadow);
    transition: 0.2s;
    display: flex;
}

.numberQuestion {
    height: 30px;
    width: 60px;
    border-radius: 6px;
    background: var(--white);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 1rem;
    position: absolute;
    right: 18px;
    top: 15px;
}

.titleQuestion {
    font-size: 1.5rem;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    margin-bottom: 20px;
    margin-right: 60px;
    max-width: 400px;
}

.question p {
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.question p span {
    margin-right: 12px;
}

.titleResponse {
    font-size: 1.25rem;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;
}

.buttonCheckQuestion {
    border-radius: 8px;
    width: 100%;
    max-width: 768px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px var(--shadowFour);
}

.buttonCheckQuestion p {
    color: var(--white);
    font-size: 1.25rem;
    font-family: "Paytone One", sans-serif;
    font-weight: 500;
}

.buttonCheckQuestion:hover {
    background: var(--blueTwo);
}

.buttonCheckQuestion .response {
    display: none;
}

.buttonOpenResponse {
    display: block;
    height: min-content;
    background: var(--blue);
}

.buttonOpenResponse p {
    text-align: center;
    margin: 10px 0px;
}

.buttonOpenResponse .response {
    display: block;
    height: min-content;
    padding: 10px;
    border-radius: 6px;
    background: var(--white);
}

.buttonOpenResponse .response .textResponse {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--black);
    cursor: text;
}

@media screen and (min-width: 768px) {
    .bg {
        display: block;
    }
    .bgMobile {
        display: none;
    }

    .bodyQuizzes {
        display: flex;
        flex-wrap: wrap;
    }

    .containerQuizzes {
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: min-content;
    }
}