.bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}

.bgMobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: block;
}

.buttonBack {
    position: fixed;
    bottom: 30px;
    left: 20px;
    color: var(--black);
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--button);
    backdrop-filter: blur(50px);
    transition: 0.2s;
    cursor: pointer;
    z-index: 1000;
}

.bodyQuizzes {
    padding: 100px 20px;
}

.containerQuizzes {
    padding: 20px 18px;
    background: var(--bgMain);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    margin-bottom: 25vh;
    box-shadow: 0 0 13px var(--shadow);
    transition: 0.2s;
    display: flex;
}

.titleQuestion {
    font-size: 1.5rem;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    margin-bottom: 20px;
    max-width: 400px;
}

.question {
    width: 100%;
    height: 60px;
    border: 5px solid var(--blueBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 5px;
    background: var(--blue);
}

.question:hover {
    border: 5px solid var(--blueBlackTwo);
    background: var(--blueTwo);
}

.questionGreen {
    width: 100%;
    height: 60px;
    border: 5px solid var(--greenBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 5px;
    background: var(--green);
}

.questionRed {
    width: 100%;
    height: 60px;
    border: 5px solid var(--redTwo);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 5px;
    background: var(--red);
}

.question p {
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.titleResponse {
    font-size: 1.25rem;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 768px) {
    .bg {
        display: block;
    }
    .bgMobile {
        display: none;
    }

    .containerQuizzes {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}