.bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}
.bgMobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: block;
}

.galeriaBody {
    background: transparent;
    background-attachment: fixed;
    padding: 20vh 20px 20vh 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.buttonBack {
    position: fixed;
    bottom: 30px;
    left: 20px;
    color: var(--black);
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--button);
    backdrop-filter: blur(50px);
    transition: 0.2s;
    cursor: pointer;
}

.buttonBack:hover {
    text-decoration: none;
    background: var(--buttonTwo);
}

.buttonBack:active {
    background: var(--white);
}

.contentGaleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contentGaleria a:hover {
    text-decoration: none;
}

.boxPhoto {
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px var(--shadow);
    max-width: 380px;
    transition: 0.2s;
    margin-bottom: 10vh;
}

.boxPhoto:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px var(--shadowFour);
}

.boxPhoto img {
    width: 100%;
    height: 350px;
    aspect-ratio: 16/9;
    object-fit: cover;

    transition: all 200ms ease-out;
    display: block;
}

.detailsGallery {
    padding: 20px;
    background: var(--white);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.detailsGallery h2 {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-weight: 600;
}

.folder {
    color: var(--black);
    opacity: 1;
}

.folderOpen {
    color: var(--black);
    position: absolute;
    opacity: 0;
    right: 20px;
}

.boxPhoto:hover .folder{
    opacity: 0;
}

.boxPhoto:hover .folderOpen {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .bg {
        display: block;
    }
    .bgMobile {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .boxPhoto {
        max-width: 300px;
        margin: 20px;
    }

    .boxPhoto img {
        height: 270px;
    }
}