.buttonUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border-radius: 50%;
    background: var(--button);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
    z-index: 90;
}

.buttonUp:hover {
    background: var(--white);
}

.active {
    opacity: 1;
}