.bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}
.bgMobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: block;
}

.homeBody {
    background: transparent;
    padding: 20vh 20px 0 20px;
    background-attachment: fixed;
    position: relative;
}

.container .pin {
    height: 80px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.containerTwo .pin {
    height: 80px;
    position: absolute;
    top: 5px;
    left: 10px;
    transform: rotateY(180deg)
}

.buttonHref:hover {
    list-style: none;
    text-decoration: none;
}

.container {
    padding: 20px 18px;
    background: var(--bgMain);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    margin-bottom: 25vh;
    box-shadow: 0 0 13px var(--shadow);
    transition: 0.2s;
}

.containerTwo {
    padding: 20px 18px;
    background: var(--bgMain);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    margin-bottom: 25vh;
    box-shadow: 0 0 13px var(--shadow);
    transition: 0.2s;
}

.container:hover,
.containerTwo:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px var(--shadowFour);
}

.text,
.textTwo {
    padding: 5vh 40px 35px 40px;
}

.text h2,
.textTwo h2 {
    font-family: "Abcgintonord", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--white);
    line-height: 1.25rem;
    margin-bottom: 8px;
}

.text p,
.textTwo p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--white);
    line-height: 1.5rem;
}

.image,
.imageTwo {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.image img,
.imageTwo img {
    width: 100%;
    height: 300px;
    aspect-ratio: 16/9;
    object-fit: cover;

    transition: all 200ms ease-out;
    display: block;
    border-radius: 16px;
}

@media screen and (min-width: 768px) {
    .bg {
        display: block;
    }
    .bgMobile {
        display: none;
    }

    .container,
    .containerTwo {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .text,
    .textTwo {
        max-width: 50vw;
    }

    .text h2,
    .textTwo h2 {
        font-size: 2rem;
        line-height: 1.75rem;
    }

    .text p,
    .textTwo p {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .image,
    .imageTwo {
        max-width: 350px;
    }

    .image img,
    .imageTwo img {
        height: 350px;
    }
}

@media screen and (min-width: 1050px) {
    .text,
    .textTwo {
        max-width: 35vw;
    }

    .image img,
    .imageTwo img {
        height: 380px;
    }
}