.bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}
.bgMobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: block;
}

.buttonBack {
    position: fixed;
    bottom: 30px;
    left: 20px;
    color: var(--black);
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--button);
    backdrop-filter: blur(50px);
    transition: 0.2s;
    cursor: pointer;
    z-index: 1000;
}

.buttonBack:hover {
    text-decoration: none;
    background: var(--white);
}

.sobreBody {
    padding: 20vh 20px 20vh 20px;
    position: relative;
}

.sobreContainer {
    padding: 18px;
    background: var(--bgMain);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
    box-shadow: 0 0 13px var(--shadow);
    justify-items: center;
}

.sobreContainer h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--white);
    margin-bottom: 20px;
}

.sobreContainer h2 .titleSite {
    font-family: "Paytone One", sans-serif;
    font-size: 1.5rem;
}

.sobreContainer p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--white);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .bg {
        display: block;
    }
    .bgMobile {
        display: none;
    }

    .sobreContainer {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}