.bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}
.bgMobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: block;
}

.pedidoFotosBody {
    background: transparent;
    background-attachment: fixed;
    padding: 20vh 20px 20vh 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pedidoFotosContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.buttonBack {
    position: fixed;
    bottom: 30px;
    left: 20px;
    color: var(--black);
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--button);
    backdrop-filter: blur(50px);
    transition: 0.2s;
    cursor: pointer;
}

.buttonBack:hover {
    text-decoration: none;
    background: var(--white);
}

.contentGaleria a:hover {
    text-decoration: none;
}

.boxPhotoPedido {
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px var(--shadow);
    max-width: 380px;
    transition: 0.4s;
    margin-bottom: 10vh;
}

.boxPhotoPedido:hover {
    box-shadow: 0 0 20px var(--shadowFour);
}

.boxPhotoPedido img {
    width: 100%;
    height: 350px;
    aspect-ratio: 16/9;
    object-fit: cover;

    transition: all 200ms ease-out;
    display: block;
}

.details {
    padding: 20px;
    background: var(--white);
    z-index: 1;
}

.details h2 {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .bg {
        display: block;
    }
    .bgMobile {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .boxPhotoPedido {
        max-width: 300px;
        margin: 20px;
    }

    .boxPhotoPedido img {
        height: 270px;
    }
}