.bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}
.bgMobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: block;
}

.primeirasBody {
    background: transparent;
    background-attachment: fixed;
    padding: 20vh 20px 20vh 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.primeirasFotosContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonBack {
    position: fixed;
    bottom: 30px;
    left: 20px;
    color: var(--black);
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--button);
    backdrop-filter: blur(50px);
    transition: 0.2s;
    cursor: pointer;
}

.buttonBack:hover {
    text-decoration: none;
    background: var(--white);
}

.contentGaleria a:hover {
    text-decoration: none;
}

.boxOpened {
    background-color: var(--white);
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 0 15px var(--shadow);
    max-width: 380px;
    transition: 0.2s;
    margin-bottom: 10vh;
}

.boxOpened:hover {
    box-shadow: 0 0 20px var(--shadowFour);
}

.boxOpened img {
    width: 100%;
    height: 350px;
    aspect-ratio: 16/9;
    object-fit: cover;

    transition: all 200ms ease-out;
    display: block;
}

.details {
    padding: 20px;
    background: var(--white);
    z-index: 1;
    display: none;
}

.details h2 {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-weight: 600;
    display: none;
}

.buttonClose {
    display: none;
}

.boxCheck {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
    background: var(--bgPhoto);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    transition: 0s;
    transform: rotate(0);
}

.boxCheck .details {
    padding: 20px 80px;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
}

.boxCheck .details h2 {
    display: block;
}

.boxCheck .details P {
    display: none;
}

.boxCheck img {
    position: absolute;
    padding: 20px;
    height: 500px;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 16/9;
    object-fit: cover;

    transition: all 200ms ease-out;
    display: block;;
}

.boxCheck .buttonClose {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--white);
    transition: 0.2s;
}

.boxCheck .buttonClose:hover {
    color: var(--button);
}

@media screen and (min-width: 768px) {
    .bg {
        display: block;
    }
    .bgMobile {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .boxOpened {
        max-width: 300px;
        margin: 20px;
    }

    .boxOpened img {
        height: 300px;
    }

    .boxCheck {
        margin: 0;
        max-width: 100%;
    }

    .boxCheck img {
        height: 500px;
        width: 400px;
    }

    .boxCheck .buttonClose {
        top: 25px;
        right: 25px;
    }
}