.bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}
.bgMobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: block;
}

.desenhoBody {
    background: transparent;
    background-attachment: fixed;
    padding: 20vh 20px 20vh 20px;
    position: relative;
}

.buttonBack {
    position: fixed;
    bottom: 30px;
    left: 20px;
    color: var(--black);
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--button);
    backdrop-filter: blur(50px);
    transition: 0.2s;
    cursor: pointer;
}

.buttonBack:hover {
    text-decoration: none;
    background: var(--white);
}

.content {
    padding: 18px;
    background: var(--bgMain);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
    box-shadow: 0 0 13px var(--shadow);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titleContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContent h2 {
    font-family: "Abcgintonord", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--white);
    line-height: 1.25rem;
}

.contentImages {
    max-width: 32vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentImages img {
    border-radius: 18px;
    width: 100%;
    height: 200px;
    margin: 2.5vh;
    transition: 0.5s;
    box-shadow: 0 0 10px var(--black);
}

.contentImages img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 20px var(--black);
}

/*/////////////////// @medias screen ///////////////////*/

@media screen and (min-width: 768px) {
    .bg {
        display: block;
    }
    .bgMobile {
        display: none;
    }

    .contentImages {
        max-width: 40vw;
    }

    .contentImages img {
        margin: 5vh;
        height: 250px;
    }

    .contentImages img:hover {
        transform: scale(1.3);
        box-shadow: 0 0 20px var(--black);
    }
}

@media screen and (min-width: 1050px) {
    .content {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }

    .contentImages {
        max-width: 20vw;
    }

    .contentImages img {
        margin: 7vh;
        height: 300px;
    }

    .contentImages img:hover {
        transform: scale(1.2);
        box-shadow: 0 0 20px var(--black);
    }
}