:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #f3f3f3;

    --purple: #662fff;
    
    --red: #e00d0d;
    --redTwo: #c90808;
    --redBlack: #8f0505;
    --redBlackTwo: #6d0303;


    --green: #03ad1a;
    --greenTwo: #018b14;
    --greenBlack: #028013;
    --greenBlackTwo: #01520c;

    --blue: #001d7e;
    --blueTwo: #021a69;
    --blueBlack: #001457;
    --blueBlackTwo: #021142;

    --bgOne: #662fff96;
    --bgHeader: rgba(75, 75, 75, 0.6);
    --bgMain: rgba(255, 255, 255, .1);
    --bgPhoto: rgba(0, 0, 0, 0.9);

    --button: rgba(255, 255, 255, 0.5);
    
    --shadow: #44444444;
    --shadowThree: #a30606;
    --shadowFour: #25252595;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}